@model WebDriverViolation.Services.Models.MasterModels.SearchViolationModel
@inject WebDriverViolation.Services.Contracts.IViolationTypeService _typeservice;

@{
    ViewData["Title"] = "SearchViolation";
    Layout = "~/Views/Shared/_NiceLayout.cshtml";

    string checkBoxId = "";

}

<div class="pagetitle">
    <h1>SearchViolation</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/DriverViolation/Home/Index">SearchViolation</a></li>
            <li class="breadcrumb-item active">Violation</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">


                    <!-- data table start -->
        <div class="row">
            <!-- data table start -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Search Violations</h5>
                    <form class="row g-3 needs-validation" novalidate asp-action="SearchViolation">
                        <div class="col-md-4">
                            <label class="form-label">Truck</label>
                            <select class="form-select" style="width: 100%;" id="SelectedTruckID" asp-for="SelectedTruckID" asp-items="@(new SelectList(Model.Trucks, "Id", "TruckName"))">
                                    <option value="-1" selected="selected"> Select Truck</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Confirmation Status</label>
                            <select class="form-select" style="width: 100%;" id="SelectedConfirmationStatusId" asp-for="SelectedConfirmationStatusId" asp-items="@(new SelectList(Model.ConfirmationStatusModel, "Id", "Name"))">
                                    <option value="-1" selected="selected"> Select Status</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                    <label class="form-label">Truck Status</label>
                            <select class="form-select" style="width: 100%;" asp-for="TruckStatusId" id="TruckStatusId">
                                    <option value="0" >Moving</option>
                                    <option value="1">Stopped</option>
                                <option value="2" selected="selected">All</option>
                                </select>
                            </div>



                        <div class="col-md-6">
                            <label for="From" class="form-label">From</label>
                            <input class="form-control" type="datetime-local" bind="closedPlatform.Start"
                                   bind:format="yyyy-MM-ddTHH:mm" step=".001" id="From" asp-for="From">
                                        </div>
                        <div class="col-md-6">
                                        <label for="To" class="form-label">To</label>
                            <input class="form-control" type="datetime-local" bind="closedPlatform.Start"
                                   bind:format="yyyy-MM-ddTHH:mm" step=".001" id="To" asp-for="To">
                                        </div>

                        <div class="row mt-3">
                            <label class="form-label" style="text-decoration:underline">Violation Type</label>
                        </div>
                        <div class="row mt-3">

                            @foreach (var type in Model.ViolationTypeModels)
                            {
                                checkBoxId = "checkBoxId" + type.ID;
                                <div class="col-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="@checkBoxId" name="SelectedTypes" value="@type.ID">
                                        <label for="@checkBoxId" class="form-check-label">@type.Name</label>
                                </div>
                                </div>
                            }
                        </div>
                        <div class="col-12">
                                   @*  <button class="btn btn-primary" type="submit">Submit form</button> *@
                            <button class="btn btn-primary" type="submit" name="submitButton" value="Submit">Submit form</button>
                            <button class="btn btn-success" type="submit" name="submitButton" value="Export">
                                <span class="badge badge-light">
                                    <i class="bi bi-file-earmark-spreadsheet"></i>
                                </span>Export to Excel
                            </button>
                      </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Search Violations
                    </h5>
               @*  <div class="data-tables"> *@
                @if (Model.ViolationModels != null)
                {
                     <table id="movetable" class="table table-borderless datatable">
                           @*  <table id="dataTable2" class="table table-borderless datatable dataTable-table"> *@
                        <thead>
                            <tr>
                                <th scope="col">
                                        #Id
                                </th>
                                   
                                    <th scope ="col">
                                    ViolationType
                                </th>
                                    <th scope="col">
                                   Truck Name
                                </th>
                                    <th scope="col">
                                        Confirmation Status
                                    </th>
                                    <th scope="col">
                                    Truck Status
                                </th>
                                    <th scope="col"> ConfirmationType</th>
                                    <th scope="col"> ConfirmationTypeName</th>
                                    <th scope="col">
                                        Date
                                    </th>
                                    <th scope="col">
                                        Accurate
                                    </th>
                                    <th scope="col">
                                        Observation
                                    </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ViolationModels.Count > 0)
                            {
                                @foreach (var item in Model.ViolationModels)
                                {
                                    <tr>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ViolationType.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Truck.TruckName)
                                        </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ConfirmationStatus.Name)
                                            </td>
                                    <td>
                                        @if (item.IsTruckMoving == true)
                                        {
                                            <span>Moving</span>
                                        }
                                        else
                                        {
                                            <span>Stopped</span>
                                        }
                                    </td>
                                        <td>
                                                @if (item.ConfirmationViolationTypeID == 10)
                                                {
                                                    <span style="color:green">NoViolation</span>
                                                }
                                                else if (item.ConfirmationStatus.Id == 1)
                                                {
                                                    <span></span>
                                                }
                                                else
                                                {
                                                    <span style="color:red">Violation</span>
                                                }
                                         
                                        </td>
                                        <td>
                                            @if (item.ConfirmationStatus.Id == 1)
                                                {
                                                    <span></span>
                                                }
                                                else
                                                {
                                                    <span>  @_typeservice.GetViolationType(item.ConfirmationViolationTypeID).Name</span>
                                                }
                                                
                                        </td>
                                        <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                            <td>
                                                @if (item.Accurate == true)
                                                {
                                                    <span style="color:green">Accurate</span>
                                                }
                                                else if (item.Accurate == null)
                                                {
                                                    <span></span>
                                                }
                                                else
                                                {
                                                    <span style="color:red">Not Acurate</span>
                                                }

                                            </td>
                                            <td>
                                                @if (item.Observation == true)
                                                {
                                                    <span style="color:green">Observed</span>
                                                }
                                                else if (item.Observation == null)
                                                {
                                                    <span></span>
                                                }
                                                else
                                                {
                                                    <span style="color:red">Not Observed</span>
                                                }

                                            </td>
                                        <td>
                                                <button class="btn btn-primary" onclick="showViolationDetails(@item.Id,@JsonSerializer.Serialize(Model.ViolationTypeModels),-1)" title="Show Details">
                                                    Details
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <h2>There Is No Violations</h2>
                            }
                        </tbody>
                    </table>
                }
                </div>
                @* </div> *@
            </div>
        </div>
    </div>
</section>

<script>
    // function showViolationDetails(data)
    // {
    //     if (data != null) {
    //     document.getElementById("TruckID").innerText = data["TruckID"];
    //     document.getElementById("Type").innerText = data["ViolationType"]["Name"];
    //     document.getElementById("Date").innerText = data["Date"];
    //     document.getElementById("ViolationImage").innerText = "http://20.86.97.165/take5/images/ViolationImages/" + data["imageName"];
    //      $('#ViolationNotificationModal').modal('show');
    //}

    //function test()
    //{
    //    alert("testtt");
    //}
</script>
@* <script src="~/Strdash/assets/js/vendor/jquery-2.2.4.min.js"></script>
<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script> *@
