@using WebDriverViolation.Models.Models.MasterModels;
@inject UserManager<AspNetUser> userManager
@inject SignInManager<AspNetUser> SignInManager
@inject WebDriverViolation.Services.Contracts.IUserViolationNotificationService _userViolationNotificationService
@inject WebDriverViolation.Services.Contracts.IEmployeeService _employeeService
@inject WebDriverViolation.Services.Contracts.IViolationTypeService _violationTypeService;
@{
    var user = await userManager.GetUserAsync(User);
    var displayName = user.UserName;
    var roles = await userManager.GetRolesAsync(user);
    var notifications = @_userViolationNotificationService.GetUserViolationNotification(user.Id);
    int NotificationCount = 0;
    var ViolationTypes = await _violationTypeService.GetAllViolationTypes();
    Employee employee = await _employeeService.GetEmployeeByUserId(user.Id);
    //var stepTwoRequestModels = _tripJobsiteService.GetPendingStepTwoRequests();
    //if(stepTwoRequestModels != null)
    //{
    //    PendingRequestsCount = stepTwoRequestModels.Count;
    //}

    if (notifications != null)
    {
        NotificationCount = notifications.Where(n => n.Seen == false).Count();
        notifications = notifications.Take(50).OrderByDescending(n => n.CreatedDate).ToList();
    }
}
@if (SignInManager.IsSignedIn(User))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>SafetyGuard AI</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="~/assets/img/favicon.png" rel="icon">
        <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.css" rel="stylesheet" />
        <!-- Vendor CSS Files -->
        <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
        <link href="~/assets/css/style.css" rel="stylesheet">
        <!-- modernizr css -->
      @*   <script src="~/Strdash/assets/js/vendor/modernizr-2.8.3.min.js"></script> *@
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a class="logo d-flex align-items-center" href="/driverViolation/Home/Index">
                    <img src="~/assets/img/tire.png" alt="">
                    <span class="d-none d-lg-block">SafetyGuard AI</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->
                    <!--lamia-->
                    <li class="nav-item dropdown">

                        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-primary badge-number" id="notificationCount1">@NotificationCount</span>
                        </a><!-- End Notification Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-scrollable notifications" aria-labelledby="dropdownMenuButton" style="max-height: 35rem; overflow-y: auto; background-attachment: local, local, scroll, scroll;" id="lmnotify2">
                            <li class="dropdown-header">
                                You have <span id="notificationCount">
                                    @NotificationCount
                                </span> new notifications
                                <a class="btn" onclick="javascript:ResetNotification();"><span class="badge rounded-pill bg-primary p-2 ms-2">Clear all</span></a>
                            </li>
                            <div id="test">
                                   @if (notifications != null)
                                {
                                    @foreach (var notification in notifications)
                                    {
                                    <li id="hrr+@notification.ViolationNotification.ViolationID">
                                            <hr class="dropdown-divider">
                                        </li>
                                    <a onclick="showViolationDetailslm(@notification.ViolationNotification.ViolationID,@notification.ViolationNotification.ViolationID, @JsonSerializer.Serialize(ViolationTypes), 0)" class="notify-item">
                                    <li class="notification-item" id="Name+@notification.ViolationNotification.ViolationID">
                                                <i class="bi bi-x-circle text-danger"></i>
                                                <div>
                                            <h4>@notification.ViolationNotification.Violation.ViolationType.Name</h4>

                                            <p>@notification.ViolationNotification.Message</p>
                                                </div>
                                            </li>
                                        </a>
                                    }
                                }
                            </div>
                        </ul><!-- End Notification Dropdown Items -->



                    </li><!-- End Notification Nav -->
                    <!--lamia-->


                    <li class="nav-item dropdown pe-3">
                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <img src="~/assets/img/userProfile1.png" alt="Profile" class="rounded-circle">
                            <span class="d-none d-md-block dropdown-toggle ps-2">Adminstrator.Security</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>Adminstrator.Security</h6>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/DriverViolation/Identity/Account/logout">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->
                </ul>
            </nav><!-- End Icons Navigation -->

        </header><!-- End Header -->
        @* <input type="hidden" id="userId" value="@employee.UserId" /> *@
        <audio id="myAudio" controls hidden>
            <source src="~/sound/notify.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
       
        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="~/Home/Index">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-search"></i><span>Search violations</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="Violation" asp-action="SearchViolation">
                                <i class="bi bi-circle"></i><span>Driver violations</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Violation" asp-action="SearchPPEViolation">
                                <i class="bi bi-circle"></i><span>PPE violations</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Tables Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Master Data</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a class="nav-link " asp-controller="TruckTracking" asp-action="SearchTruckTracking">
                                <i class="bi bi-circle"></i><span>Search Trucks</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link " asp-controller="TruckTracking" asp-action="CameraTracking">
                                <i class="bi bi-circle"></i><span>Cameras Tracking</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Tables Nav -->


            </ul>
        </aside><!-- End Sidebar-->
        <main id="main" class="main">
            @RenderBody()

        </main>
        <!--=======End Main=======-->

        <div class="content-wrapper">
            <div class="modal fade" id="ViolationNotificationModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="requestModalLabel">Violation Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearElements()"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-body pt-3">

                                            <ul class="nav nav-tabs nav-tabs-bordered" id="lmtap">

                                                <li class="nav-item">
                                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" id="lmtest">Details</button>
                                                </li>

                                                <li class="nav-item">
                                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Confirmation" id="lmtestt">Confirmation</button>
                                                </li>


                                            </ul>
                                            <div class="tab-content pt-2">
                                                <div class="tab-pane fade show active profile-overview" id="info">
                                                    <h5 class="card-title" id="lmtitle">Violation Details</h5>
                                                    <span id="confirmedOrNot" style="display:none"></span>
                                                    <br />
                                                    <span id="rowIndex" style="display:none"></span>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label " id="lmtruck">Truck Number</div>
                                                        <div class="col-lg-9 col-md-8" id="ViolationTruckID"></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label ">Suggested Type</div>
                                                        <div class="col-lg-9 col-md-8" id="ViolationType"></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label ">Probability</div>
                                                        <div class="col-lg-9 col-md-8" id="Confidence"></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label ">Average Probability</div>
                                                        <div class="col-lg-9 col-md-8" id="AverageConfidence"></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label ">Date</div>
                                                        <div class="col-lg-9 col-md-8" id="ViolationDate"></div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 label ">Accuracy Level</div>
                                                        <div class="col-lg-9 col-md-8" id="AccuracyLevel"></div>
                                                    </div>
                                                    <!-- Slides with controls -->
                                                    <div class="row pt-3">
                                                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <img src="~/assets/img/slides-1.jpg" class="d-block w-100" alt="..." height="600" id="ViolationImageID">
                                                                </div>
                                                                <input type="hidden" id="violationImgs" value="" />
                                                                <input type="hidden" id="violationProbabilities" value="" />
                                                                <input id="currentViolationImgsNumber" type="hidden" />
                                                            </div>

                                                            <button class="carousel-control-prev" type="button" onclick="changeImage('down')">
                                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Previous</span>
                                                            </button>
                                                            <button class="carousel-control-next" type="button" onclick="changeImage('up')">
                                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Next</span>
                                                            </button>

                                                        </div><!-- End Slides with controls -->
                                                    </div>
                                                </div>

                                                <div class="tab-pane" id="Confirmation">

                                                    <div class="row mt-3">
                                                        <div class="col-lg-6 mb-1">
                                                            <h6 class="control-label model-label">Confirmation Status </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <label class="text-muted" id="ConfirmationStatusId"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row pt-1">
                                                        <div class="col-lg-6 mb-1">
                                                            <h6>Suggested Type </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <label class="text-muted" id="SuggestedType"></label>
                                                        </div>
                                                    </div>

                                                    <div class="row pt-1">
                                                        <div class="col-lg-6 mb-1">
                                                            <h6 id="lmmoving">Car Moving Status </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <select class="form-control select2bs4" style="width: 100%;" id="CarMovingStatus">
                                                                <option value="Moving">Moving</option>
                                                                <option value="Stopped">Stopped</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row pt-1">
                                                        <div class="col-lg-6 mb-1">
                                                            <h6>Camera Position </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <select class="form-control select2bs4" style="width: 100%;" id="lmCameraPosition">
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="row pt-1" id="NeedConfirmation">
                                                        <div class="col-lg-6 mb-1">
                                                            <h6>Confirmed Type </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <select class="form-control select2bs4" style="width: 100%;" id="ConfirmedTypeList">
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="row pt-1" id="ConfirmationBy">
                                                        <div class="col-lg-6 mb-1">
                                                            <h6 class="control-label model-label">Confirmed Type </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <label class="text-muted" id="ConfirmedTypeId"></label>
                                                        </div>

                                                        <div class="col-lg-6 mb-1">
                                                            <h6 class="control-label model-label">Confirmation By </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <label class="text-muted" id="ConfirmationById"></label>
                                                        </div>

                                                        <div class="col-lg-6 mb-1">
                                                            <h6>Confirmation Date </h6>
                                                        </div>
                                                        <div class="col-lg-6 mb-1">
                                                            <label class="text-muted" id="ConfirmedDate"></label>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <div class="row pt-1">
                                                            <div class="col-lg-12 mb-1">
                                                                <label hidden id="violationId"></label>
                                                                <a class="btn btn-success" id="ConfirmationButton" onclick="addNewConfirmation()">Submit</a>
                                                                <button type="button" id="RejectionButton" class="btn btn-danger flex-end" style="text-align:center;vertical-align:middle;" onclick="addRejection()">
                                                                    Reject
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <label id="RejectionText" class="text-lg" hidden>Rejected</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
                © Copyright © 2024 CEMEX Innovation Holding Ltd., Switzerland, All Rights Reserved
            </div>
        </footer><!-- End Footer -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <!-- Vendor JS Files -->
        <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/chart.js/chart.min.js"></script>
        <script src="~/assets/vendor/echarts/echarts.min.js"></script>
        <script src="~/assets/vendor/quill/quill.min.js"></script>
        <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>
        <!-- Template Main JS File -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>
        <!-- Template Main JS File -->
        <script src="~/microsoft-signalr/signalr.min.js"></script>
        <script src="~/js/signalr.js?number=random"></script>
        <script src="~/js/JQuery/jquery.timeago.js"></script>
        <script src="~/lib/aspnet-signalr/signalr.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/mysite.js"></script>
        <script src="~/js/newsite.js"></script>
        <script src="~/js/sweetalert.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.js"></script>
     

        <script>
            function clearElements() {
            $(".TimeInfo").remove();
            var cancelBlock = document.getElementById("RejectionButton");
            if (cancelBlock != null) {
            // cancelBlock.remove();
            }
            var requestWhoApprovedDiv = document.getElementById("requestWhoApprovedDiv");
            if (requestWhoApprovedDiv != null) {
            requestWhoApprovedDiv.style.display = 'none';
            }
            var responseDateDiv = document.getElementById("responseDateDiv");
            if (responseDateDiv != null) {
            responseDateDiv.style.display = 'none';
            }

            var requestData = document.getElementById("requestData");
            if (requestData != null) {
            requestData.style.display = 'none';
            }
            var warningBlock = document.getElementById("warningBlock");
            if (warningBlock != null) {
            warningBlock.style.display = 'none';
            }
            document.getElementById("warnTitle").setAttribute("style", "color:black");
            }

            function showViolationDetails(id, TypesList, confirmButtonId,myIndex) {
            //alert(myIndex);
           
                var url = '@Url.Content("~/")' + "Violation/getViolationDetails";
            $.getJSON(url, { violationId: id }, function (data) {
               // alert("Done");
            if (data != null) {
            //alert(data["Category"]);
            console.log("welcome");
            console.log(data["Category"]);
            // alert(data["PriobabilityOfViolationsWithSameCode"]);
            document.getElementById("violationImgs").innerText = data["images"];
            //document.getElementById("lmCameraPositionns").selected = false;
            document.getElementById("currentViolationImgsNumber").innerText = 0;
            document.getElementById("AccuracyLevel").innerText = data["ViolationAccuracyLevelDescription"];
            document.getElementById("confirmedOrNot").innerText = confirmButtonId;
            document.getElementById("rowIndex").innerText = myIndex;
            document.getElementById("ViolationTruckID").innerText = data["TruckID"];
            document.getElementById("ViolationType").innerText = data["ViolationType"]["Name"];
            document.getElementById("ViolationDate").innerText = new Date(data["Date"]).toLocaleString('en-US');
            document.getElementById("ViolationImageID").src = data["images"][0];
            document.getElementById("ConfirmationStatusId").innerText = data["ConfirmationStatus"]["Name"];
            document.getElementById("SuggestedType").innerText = data["ViolationType"]["Name"];
            document.getElementById("Confidence").innerText = data["PriobabilityOfViolationsWithSameCode"][0];
            document.getElementById("violationProbabilities").innerText = data["PriobabilityOfViolationsWithSameCode"];
            document.getElementById("AverageConfidence").innerText = data["AverageProbability"];
            document.getElementById("violationId").textContent = data["Id"];
            if (data["ConfirmationStatus"]["Name"] == "Pending") {
            document.getElementById("ConfirmationBy").style.display = 'none';
            document.getElementById("NeedConfirmation").style.display = '';
            document.getElementById("RejectionButton").style.display = '';
            document.getElementById("ConfirmationButton").style.display = '';
            document.getElementById("RejectionText").style.display = 'none';
            var TypesDD = document.getElementById("ConfirmedTypeList");
            var movingstat = document.getElementById("CarMovingStatus");
            var lmtitle = document.getElementById("lmtitle");
            var lmtruck = document.getElementById("lmtruck");
            var lmmoving = document.getElementById("lmmoving");
            //movingstat.value = 'Stopped';

            if (data["IsTruckMoving"] == true) {
            movingstat.value = 'Moving';
            }
            else {
            movingstat.value = 'Stopped';
            }
            if (data["Category"] == "camera") {
            movingstat.hidden = true;
            lmmoving.hidden = true;
            lmtitle.innerText = "PPE Violations Details";
            lmtruck.innerText = "Camera Name";
            }
            else {
            movingstat.hidden = false;
            lmmoving.hidden = false;
            }
            var positionss = document.getElementById("lmCameraPosition");
            positionss.value = '';
            var op1 = document.createElement('option');
            op1.text = 'Fit';
            op1.value = 'Fit';
            op1.selected = true;
            positionss.options[0] = op1;
            var op2 = document.createElement('option');
            op2.text = 'No-Fit';
            op2.value = 'No-Fit';
            op2.selected = false;
            positionss.options[1] = op2;
            if (TypesList.length > 0) {
            // for (var index = 0; index < TypesList.length; index++) {
            //     var op = document.createElement('option');
            //     op.text = TypesList[index].Name;
            //     op.value = TypesList[index].ID;
            //     if (TypesList[index].Text == data["ViolationType"]["Name"]) {
            //         op.selected = true;
            //     }
            //     TypesDD.options[index] = op;
            // }
            for (var index = 0; index < TypesList.length; index++) {
            var op = document.createElement('option');
            op.text = TypesList[index].Name;
            op.value = TypesList[index].ID;
            if (TypesList[index].Name == data["ViolationType"]["Name"]) {
            op.selected = true;
            }
            TypesDD.options[index] = op;
            }
            }
            }
            else if (data["ConfirmationStatus"]["Name"] == "Confirmed") {
            document.getElementById("ConfirmationBy").style.display = '';
            document.getElementById("NeedConfirmation").style.display = 'none';
            document.getElementById("ConfirmedTypeId").innerText = data["ConfirmationViolationTypeName"];
            document.getElementById("ConfirmationById").innerText = data["ConfirmedByUserName"];
            document.getElementById("lmCameraPosition").value = data["CameraPosition"];
            document.getElementById("ConfirmedDate").innerText = data["ConfirmationDate"];
            document.getElementById("ConfirmationButton").style.display = 'none';
            if (data["ConfirmationViolationTypeName"] == "Rejected") {
            document.getElementById("RejectionButton").style.display = 'none';
            document.getElementById("ConfirmationButton").style.display = 'none';
            document.getElementById("ConfirmationButton").style.display = 'none';
            document.getElementById("lmCameraPosition").value = data["CameraPosition"];
            document.getElementById("RejectionText").style.display = '';
            document.getElementById("ConfirmedTypeId").style.color = 'red';

            }
            else {
            document.getElementById("ConfirmedTypeId").style.color = 'green';
            document.getElementById("RejectionText").style.display = '';
            document.getElementById("RejectionText").innerText = "No Rejection";
            document.getElementById("RejectionText").style.color = 'black';
            document.getElementById("RejectionButton").style.display = 'none';
            document.getElementById("ConfirmationButton").style.display = 'none';
            }
            }
            $('#ViolationNotificationModal').modal('show');
            }
            });
            }




            function changeImage(status) {
            var currentImgIndex = parseInt(document.getElementById("currentViolationImgsNumber").innerText);
            var newIndex = 0;
            var images = document.getElementById("violationImgs").innerText.split(",");
            //  alert(images);
            //  alert(images.length);
            var probabilities = document.getElementById("violationProbabilities").innerText.split(",");
            if (status == "up") {
            if (currentImgIndex == images.length-1 || currentImgIndex ==2) {
            document.getElementById("ViolationImageID").src = images[newIndex];
            document.getElementById("Confidence").innerText = probabilities[newIndex];
            }
            else {
            newIndex = currentImgIndex + 1;
            document.getElementById("ViolationImageID").src = images[newIndex];
            document.getElementById("Confidence").innerText = probabilities[newIndex];
            document.getElementById("currentViolationImgsNumber").innerText = newIndex;

            }
            }
            else if (status == "down") {
            if (currentImgIndex == 0) {
            document.getElementById("ViolationImageID").src = images[images.length-1];
            document.getElementById("Confidence").innerText = probabilities[images.length-1];
            }
            else {
            newIndex = currentImgIndex - 1;
            document.getElementById("ViolationImageID").src = images[newIndex];
            document.getElementById("Confidence").innerText = probabilities[newIndex];
            document.getElementById("currentViolationImgsNumber").innerText = newIndex;
            }
            }
            }

            function addRejection() {
            var Confirmdata =
            {
            cameraPosition: document.getElementById("lmCameraPosition").value,
            selectedTypeId: document.getElementById("ConfirmedTypeList").value,
            Id: document.getElementById("violationId").textContent,
            };
            $.ajax(
            {
            url: '@Url.Content("~/")' + "Violation/RejectViolation",
            data: Confirmdata,
            type: "POST",
            async: false,
            success: function (data) {
            // swal("Success Process",
            //     {
            //         icon: "success",
            //         Text: "Successful Process"
            //     });
                            var url = '@Url.Content("~/")' + "Home/getPendingViolationsCount";
            $.getJSON(url, function (data) {
            document.getElementById("pendingViolationCountId").innerText = data;
            });
            var buttonId = document.getElementById("confirmedOrNot").innerText;
            if (buttonId != 0) {
            document.getElementById(buttonId).cells[3].innerHTML = "<b style='color:red'>Rejected</b>";
            }
            },
            error: function () {
            // swal("Failed process",
            //     {
            //         icon: "error",
            //     });
            }

            });
            $('#ViolationNotificationModal').modal('toggle');
            }

            function addNewConfirmationn() {
            var rr = document.getElementById("lmCameraPosition").value;
            //  alert(rr);
            var Confirmdata =
            {
            cameraPosition: document.getElementById("lmCameraPosition").value,
            selectedTypeId: document.getElementById("ConfirmedTypeList").value,
            Id: document.getElementById("violationId").textContent,
            };
            $.ajax(
            {
            url: '@Url.Content("~/")' + "Violation/AddConfirmationData",
            data: Confirmdata,
            type: "POST",
            async: false,
            success: function (data) {
            // swal("Success Process",
            //     {
            //         icon: "success",
            //     });
                            var url = '@Url.Content("~/")' + "Home/getViolationStats";
            $.getJSON(url, function (data) {
            if (data != null) {

            // document.getElementById("pendingViolationCountId").innerText = data['PendingViolationCount'];
            // console.log(document.getElementById("pendingViolationCountId").innerText);
            // consol.log(data['PendingViolationCount'])
            // cons.log("step1")
            // document.getElementById("thisMonthActualCountId").innerText = data['CurrentMonthActualViolationCount'];
            // console.log(document.getElementById("thisMonthActualCountId").innerText);
            // consol.log(data['CurrentMonthActualViolationCount'])
            // cons.log("step2")
            // document.getElementById("totalActualCountId").innerText = data['TotalActualViolationCount'];
            // console.log(document.getElementById("totalActualCountId").innerText);
            // consol.log(data['TotalActualViolationCount'])
            // cons.log("step3")
            // for (var index = 0; index < data["ViolationTypeCounts"].length; index++) {
            //     document.getElementById(data['ViolationTypeCounts'][index]["ViolationTypeName"]).innerText = data['ViolationTypeCounts'][index]["Count"];
            // }
            }
            });
            var buttonId = document.getElementById("confirmedOrNot").innerText;
            var x = document.getElementById("rowIndex").innerText;
            //alert("index");
            // alert(x);
            if (buttonId != 0) {
            if (x == -1) {
            // alert("don");
            // cons.log(-1);
            document.getElementById(buttonId).cells[3].innerHTML = "<b style='color:green'>Confirmed</b>";
            if (rr == 10) {
            // alert(rr);
            //  console.log(rr);
            // console.log(-2);
            document.getElementById(buttonId).cells[5].innerHTML = "<b style='color:green'>No Violation</b>";
            }
            else {
            // console.log(-3);
            document.getElementById(buttonId).cells[5].innerHTML = "<b style='color:red'>Violation</b>";
            }
            }
            else {
            // alert("No");
            // alert(buttonId);
            console.log(buttonId);
            // console.log(-4);
            document.getElementById(buttonId).remove();

            // document.getElementById("movetable").deleteRow(parseInt(x) - 1);
            }

            }
            document.getElementById("RejectionText").innerText = "No Rejection";
            },
            error: function () {
            swal("Failed process",
            {
            icon: "error",
            });
            }

            });
            $('#ViolationNotificationModal').modal('toggle');
            }
        </script>
        <script>
            function ResetNotification() {

            $.ajax({
            url: '@Url.Content("~/")' + "Violation/ResetAll",
            data: "id",
            type: "GET",
            async: true,
            success: function (data) {
            if (data == "true") {
            document.getElementById("notificationCount1").innerHTML =0;
            //var count = (document.getElementById("notificationCount").innerHTML);
            document.getElementById("notificationCount").innerHTML = 0;

            // document.getElementById("lmnotify2").hidden = true;
            // document.getElementById("lmnotify").hidden = false;
            // $('#lmnotify2 li:not(:first-child):not(:last-child)').remove();
            var nn = document.getElementById("test");
            nn.innerHTML = "";
            // nn.hidden = true;

            }
            else {

            }

            },
            error: function () {

            }
            });
            }
        </script>

    </body>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
    </html>
}