@model WebDriverViolation.Services.Models.SpecificModel.DashBoardModel
@{
    string confirmButtonId = "tmconfirmButton";
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/DriverViolation/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">
                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-4 h-100">
                    <div class="card info-card sales-card">

                        <div class="card-body">
                            <h5 class="card-title">Violations<span>| Pending</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="ri-alarm-warning-line"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="pendingViolationCountId">@Model.LatestPendingViolationModels.Count</h6>
                                    <span class="text-muted small pt-2 ps-1"># All pending violations</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-4 h-100">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Driver Violations <span>| Pending</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-check2-all"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="thisMonthActualCountId">@Model.TotalActualViolationCount</h6>
                                    <span id="new" class="text-muted small pt-2 ps-1">New violations of this month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-md-4 h-100">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">PPE Violations <span>| Pending</span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 id="totalActualCountId">@Model.PendingViolationCount</h6>
                                    <span id="retread" class="text-muted small pt-2 ps-1">All Actual Violations on the system</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Customers Card -->
                <!-- Sales Card -->
                <!-- End Sales Card -->
                <!-- Revenue Card -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title"> Pending Violation<span>|  Pending Violation available on the system </span></h5>
                            <table id="movetable" class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Truck/Camera</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Avg. Probability</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Truck Status</th>
                                        <th scope="col">Confirm</th>
                                    </tr>
                                </thead>
                                @if (Model.LatestPendingViolationModels.Count > 0)
                                {
                                    <tbody>
                                        @foreach (var violation in Model.LatestPendingViolationModels)
                                        {
                                            confirmButtonId = confirmButtonId + violation.Id;
                                            <tr id="@confirmButtonId">
                                                <th scope="row"><a href="#">@violation.TruckID</a></th>
                                                <td>@violation.ViolationType.Name</td>
                                                <td class="">@violation.AverageProbability</td>
                                                <td>@violation.Date.ToString("yyyy-MM-dd, hh:mm:ss")</td>
                                                @if(violation.Category=="camera")
                                                {
                                                    <td class="">PPE</td>
                                                }
                                                else
                                                {
                                                    <td class="">Driver</td>
                                                }
                                                @if (violation.Category == "camera")
                                                {
                                                    <td class=""></td>
                                                }
                                                else if (violation.IsTruckMoving)
                                                {
                                                    <td class="">Moving</td>
                                                }
                                                else
                                                {
                                                <td class="">Stopped</td>
                                                }
                                                @if (violation.Category == "camera")
                                                {
                                                    <td>
                                                        <a class="btn btn-primary" onclick="showViolationDetails(@violation.Id,@JsonSerializer.Serialize(Model.ViolationTypeModels.Where(v=>v.Category == "camera" || v.Category == "all").ToList()), @JsonSerializer.Serialize(confirmButtonId),1)" title="Confirm" style="color:white">
                                                            Confirm
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a class="btn btn-primary" onclick="showViolationDetails(@violation.Id,@JsonSerializer.Serialize(Model.ViolationTypeModels.Where(v=>v.Category != "camera").ToList()), @JsonSerializer.Serialize(confirmButtonId),1)" title="Confirm" style="color:white">
                                                            Confirm
                                                        </a>
                                                    </td>
                                                }
                                            

                                        </tr>
                                        }

                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div><!-- End Recent Sales -->
            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->

    </div>
</section>
